// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-FileCopyrightText: 2022 raghukamath <raghukamath@raghukamath.com>
// SPDX-License-Identifier: GPL-3.0-or-later

// root var define css variables here

@import "hugo:vars";
@import "bootstrap/mixins";

:root {
   --system-fonts: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell","Helvetica Neue", "Open Sans", "Noto Sans", "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
   --container-border-radius: 5px;
}

body {
  --main-text-color: #403f58;
  --body-background-color: white;
  --body-background-color-alternate: #c8f1ff;
  --body-background-inverse-color: #324148;
  --accent-color: rgb(54, 157, 197);
  --navbar-link-color: #347296;
  --link-color: rgb(54, 157, 197);
  --homepage-card-gradient: radial-gradient(circle, rgb(255, 255, 255) 30%, rgb(227, 250, 247) 100%);
  --image-brightness-filter: 1.0;

  --footer-gradient-one: #7ba3af;
  --footer-gradient-two: #324148;
}

@include color-mode(dark) {
  body {
    --main-text-color: #ffffff;
    --body-background-color: #212529;
    --body-background-color-alternate: #275872;
    --accent-color: rgb(160, 210, 230);
    --body-background-inverse-color: rgb(167, 197, 214);
    --navbar-link-color: #c9e9ff;
    --link-color: rgb(173, 224, 253);
    --homepage-card-gradient: radial-gradient(circle, rgba(71,90,98,1) 0%, rgba(41,52,55,1) 100%);
    --image-brightness-filter: 0.2;

    --footer-gradient-one: #d0e0e6;
    --footer-gradient-two: #e5f1f7;
  }

}





/* fonts */

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Italic.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Bold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-BoldItalic.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-BoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter-Black.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-Black.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/Inter-BlackItalic.woff2?v=3.13") format("woff2"),
       url("/fonts/Inter-BlackItalic.woff?v=3.13") format("woff");
}


@font-face {
  font-family: 'Quicksand';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Quicksand/Quicksand-Light.woff2?v=3.13") format("woff2"),
       url("/fonts/Quicksand/Quicksand-Light.woff?v=3.13") format("woff");
}



// Global import


// Local import
@import "variables";
@import "typography";
@import "style";
@import "footer";

