{{ define "main" }}

<div class="features-homepage-image">
    <div class="container-padding">
        <span class="features-hero-content">
            <ul>
                <li>{{ i18n "no-trials" }}</li>
                <li>{{ i18n "no-subscriptions" }}</li>
                <li>{{ i18n "no-limits" }}</li>
            </ul>
        </span>
    </div>
</div>

<div class="hero-credit">
    {{ partial "art-by.html" (dict "context" "." "name" "Ngan Pham" "url" "https://twitter.com/Zevaniart") }}
</div>

<div  class="container-padding">
    <h2>{{ i18n "clean-and-flexible" }}</h2>

    <div class="row" >
        <div class="col-md-12" style="margin-bottom: 2rem;">
            <img src="images/pages/application-screenshot.webp"  style="padding-bottom: 0.5rem" />
            <span class="hero-credit" style="display: block">
                {{ partial "art-by.html" (dict "context" "." "name" "Sad-tea" "url" "https://www.artstation.com/sad_tea") }}
            </span>
        </div>
        <div class="col-md-6">
            <p>{{ i18n "an-intuitive-interface" }}</p>
            <a href="https://docs.krita.org/user_manual/getting_started/navigation.html#interface" class="ghost button">{{ i18n "learn-the-interface" }}</a>
        </div>
        <div class="col-md-6">
            <ul>
                <li>{{ i18n "customize-layout" }}</li>
                <li>{{ i18n "over-30-docker" }}</li>
                <li>{{ i18n "dark-light-themes" }}</li>
            </ul>
        </div>
    </div>

    <h2>{{ i18n "all-the-tools-you-need" }}</h2>

    <div class="row" >
        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-presets.png" />
            <h3>{{ i18n "beautiful-brushes" }}</h3>
            <p>{{ i18n "over-100-brushes" }}</p>
            <a href="https://docs.krita.org/reference_manual/krita_4_preset_bundle.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-stabilizer.png" />
            <h3>{{ i18n "brush-stabilizer" }}</h3>
            <p>{{ i18n "brush-stabilizer-description" }}</p>
            <a href="https://docs.krita.org/reference_manual/tools/freehand_brush.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
        <div class="col-md-4 feature-section">
            <img src="images/pages/vector-libraries.png" />
            <h3>{{ i18n "vector-and-text" }}</h3>
            <p>{{ i18n "vector-and-text-description" }}</p>
            <a href="https://docs.krita.org/user_manual/vector_graphics.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
    </div>

    <div class="row" style="margin-top: 5rem;" >
        <div class="col-md-4 feature-section">
            <img src="images/pages/brush-engines.jpg" />
            <h3>{{ i18n "brush-engines" }}</h3>
            <p>{{ i18n "brush-engines-description" }}</p>
            <a href="https://docs.krita.org/reference_manual/brushes/brush_engines.html" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
        <div class="col-md-4 feature-section">
            <img src="images/pages/wrap-around-mode.jpg" />
            <h3>{{ i18n "wrap-around-mode" }}</h3>
            <p>{{ i18n "wrap-around-mode-description" }}</p>
            <a href="https://docs.krita.org/user_manual/introduction_from_other_software/introduction_from_sai.html#multibrush-mirror-symmetry-and-wrap-around" class="ghost button">{{ i18n "learn-more" }}</a>
        </div>
        <div class="col-md-4 feature-section">
            <img src="images/pages/resource-manager.jpg" />
            <h3>{{ i18n "resource-manager" }}</h3>
            <p>{{ i18n "resource-manager-description" }}</p>
            <a href="https://docs.krita.org/reference_manual/resource_management.html" class="ghost button">{{ i18n "learn-more" }}</a>
            <a href="https://docs.krita.org/resources_page.html" class="ghost button">{{ i18n "resource-area-button" }}</a>
        </div>
    </div>
</div> <!-- end the content padding section-->

<div class="dark">
    <div  class="container-padding">
        <h2>{{ i18n "animation-title" }}</h2>

        <img src="images/pages/timeline-screenshot.png" style="margin-bottom: 3rem" />

        <div class="row">
            <div class="col-md-10">
                <p>{{ i18n "animation-title-description" }}</p>
            </div>
            <div class="col-md-2">
                <a href="https://docs.krita.org/user_manual/animation.html" class="button" style="color: white;">{{ i18n "learn-more" }}</a>
            </div>
        </div>

        <hr class="inverted-divider" />

        <div class="row spacer">
            <div class="col-md-4">
                <div class="video_wrapper">
                <iframe src="https://www.youtube.com/embed/CY5XppRTpBY"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ i18n "features" }}</h3>
                <ul>
                    <li>{{ i18n "animation-feature-1" }}</li>
                    <li>{{ i18n "animation-feature-2" }}</li>
                    <li>{{ i18n "animation-feature-3" }}</li>
                    <li>{{ i18n "animation-feature-4" }}</li>
                    <li>{{ i18n "animation-feature-5" }}</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>&nbsp;</p>
                <ul>
                    <li>{{ i18n "animation-feature-6" }}</li>
                    <li>{{ i18n "animation-feature-7" }}</li>
                    <li>{{ i18n "animation-feature-8" }}</li>
                    <li>{{ i18n "animation-feature-9" }}</li>
                    <li>{{ i18n "animation-feature-10" }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div  class="container-padding productivity">

    <h2>{{ i18n "productivity-features" }}</h2>

    <div class="row">
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <svg style="fill: white" width="22" height="22">
                        <use href="images/pages/drawing-assistants.svg#layer1"></use>
                    </svg>
                    <h4>{{ i18n "drawing-assistants" }}</h4>
                </span>
                <p>{{ i18n "drawing-assistants-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/user_manual/painting_with_assistants.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>

        </div>
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <svg style="fill: white" width="22" height="22">
                        <use href="images/pages/layer-management.svg#layer1"></use>
                    </svg>
                    <h4>{{ i18n "layer-management" }}</h4>
                </span>
                <p>{{ i18n "layer-management-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/user_manual/layers_and_masks.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col productivity-section">
            <span class="box">
                <span>
                    <svg style="fill: white" width="22" height="22">
                        <use href="images/pages/selections.svg#layer1"></use>
                    </svg>
                    <h4>{{ i18n "select-and-transform" }}</h4>
                </span>
                <p>{{ i18n "select-and-transform-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/user_manual/selections.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
    </div>

    <div class="row spacer">
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/color-management.png" />
                    <h4>{{ i18n "full-color-management" }}</h4>
                </span>
                <p>{{ i18n "full-color-management-description" }} </p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/general_concepts/colors/color_managed_workflow.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <svg style="fill: white" width="22" height="22">
                        <use href="images/pages/sun.svg#layer1"></use>
                    </svg>
                    <h4>{{ i18n "gpu-enhanced" }}</h4>
                </span>
                <p>{{ i18n "gpu-enhanced-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/reference_manual/preferences/display_settings.html#opengl" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/psd-support.png" />
                    <h4>{{ i18n "psd-support" }}</h4>
                </span>
                <p>{{ i18n "psd-support-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/general_concepts/file_formats/file_psd.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
    </div>


    <div class="row spacer">
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <svg style="fill: white" width="22" height="22">
                        <use href="images/pages/hdr-icon.svg#layer1"></use>
                    </svg>
                    <h4>{{ i18n "hdr-painting" }}</h4>
                </span>
                <p>{{ i18n "hdr-painting-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/reference_manual/hdr_display.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <svg style="fill: white" width="22" height="22">
                        <use href="images/pages/dark-python.svg#rect12"></use>
                    </svg>
                    <h4>{{ i18n "python-scripting" }}</h4>
                </span>
                <p>{{ i18n "python-scripting-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/user_manual/python_scripting.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
        <div class="col-md-4 productivity-section">
            <span class="box">
                <span>
                    <img src="images/pages/training-icon.png" />
                    <h4>{{ i18n "training-resources" }}</h4>
                </span>
                <p>{{ i18n "training-resources-description" }}</p>

                <span class="flex-spacer"></span>
                <a href="https://docs.krita.org/index.html" class="ghost button">{{ i18n "learn-more" }}</a>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <img src="images/pages/david-revoy-dragon.webp"/>
            <span style="padding-left: 2rem;">{{ partial "art-by.html" (dict "context" "." "name" "David Revoy" "url" "https://www.davidrevoy.com" "color" "grey") }}</span>
        </div>

        <div class="col-md-4" style="margin-top: 8rem;">
            <h2 style="text-align: left">{{ i18n "all-of-this-for-free" }}</h2>
            <p>{{ i18n "all-of-this-for-free-description" }}</p>
            <a href="/{{ .Site.Language.Lang }}/download" class="button">{{ i18n "download-krita" }}</a>
        </div>

    </div>
</div>

{{ .Content }}

{{ end }}
