<a href="{{ .item.Permalink }}" class="post-item {{ .classes }}">
  <h3 style="margin-top: 0" class="title">{{ .item.Title }}</h3>
  <div>
    <em>{{ partial "i18n_date.html" .item }}</em>
  </div>

  <div>
    {{ $maxLen := 160 }}
    {{ if gt (len .item.Summary) $maxLen }}
      {{ truncate $maxLen .item.Summary | plainify }}
    {{ else }}
      {{ .item.Summary | plainify }}
    {{ end }}
  </div>
  <button class="ghost button" style="margin-top: 1rem;">{{ i18n "read-more" }}</button>
</a>
