{{ define "main" }}

<div class="container-padding" style="text-align: center;">
    <h1 style="margin-top: 3rem">{{ i18n "page-not-found-title" }}</h1>
    <p>{{ i18n "page-not-found-description" }}</p>
    <span style="
        background: white;
        padding: 4rem;
        border-radius: 1rem;
        display: flex;
        width: fit-content;
        margin: auto;    
    ">
        <img src="images/404-image.gif" />
    </span>


    
    <p><a href="{{ relLangURL "/" }}" class="button" style="margin-top: 4rem">{{ i18n "back-to-homepage" }}</a></p>
</div>


{{ end }}
